/*CSS for mobile devices*/
body{
    margin: 50px;
}

.header{
    display: flex;
    align-items: center;
    padding: 10px;
    border: black solid 5px;
}

.header-item{
    padding: 10px;
}

h1{
    font-size: 54px;
    font-weight: bold;
}

.header-nav{
    display: none;
}

aside{
    display: none;
}

main{
    border: black solid 5px;
}

footer{
    border: black solid 5px;
    font-size: 32px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer p {
    text-align: center;
}

.footer-nav-item{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.footer-nav-item:first-child::after{
    content: "|";
    margin-left: 20px;
    color: black;
}

.footer-nav-item:nth-child(2)::after{
    content: "|";
    margin-left: 20px;
    color: black;
}

article{
    border: black solid 5px;
    margin: 10px;
}

/*CSS for desktop*/
@media screen and (min-width: 1024px) {
    .header{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .header-nav{
        display: block;
        font-size: 20px;
        grid-column: span;
    }
    

    .nav-item{
        padding: 5px;
    }

    main{
/*        min-width: 70vw;
        max-width: 90vw;*/
        margin: 0 15vw;
    }

    footer{
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        justify-content: space-evenly;
    }


    .nav-item{
        text-decoration: none;
        color: black;
    }

    .footer-nav-item{
        text-decoration: none;
        color: black;
    }

}