/*CSS for mobile devices*/
body{
    margin: 30px;
}

.header{
    display: flex;
    align-items: center;
    padding: 10px;
    border: black solid 5px;
}

.header-item{
    padding: 10px;
}

h1{
    font-size: 54px;
    font-weight: bold;
}

nav{
    display: none;
}

aside{
    display: none;
}

main{
    border: black solid 5px;
}

footer{
    border: black solid 5px;
}

/*CSS for desktop*/
@media screen and (min-width: 1200px) {
    .header{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    nav{
        display: block;
        font-size: 20px;
        grid-column: span;
    }

    .nav-item{
        padding: 5px;
    }

}